<?xml version="1.0" encoding="utf-8" ?>


<configuration>
  <!--<appSettings>
    <add key="DES" value="Data Source=.;Initial Catalog=School;Persist Security Info=False;User ID=sa;Password=fiap;"/>
    
  </appSettings>-->
 
  <connectionStrings>
    <add name="DES" connectionString="Data Source=.;Initial Catalog=School;Persist Security Info=False;User ID=sa;Password=fiap;" providerName="System.Data.SqlClient" />
    <add name="SchoolDB" connectionString="Data Source=.;Initial Catalog=School;Persist Security Info=False;User ID=sa;Password=fiap;" providerName="System.Data.SqlClient" />
    <add name="SchoolContext" connectionString="Data Source=.;Initial Catalog=School;Persist Security Info=True;User ID=sa;Password=fiap;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="SchoolMongoServer" connectionString="mongodb://localhost:27017/School" />
    <add name="CachedDb" connectionString="mongodb://localhost:27017/School" />
    <add name="MySQL" connectionString="SERVER=127.0.0.1; DATABASE=portal; UID=root; PASSWORD=''" providerName="MySql.Data.MySqlClient" />

  </connectionStrings>

  
</configuration>

