<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <authentication mode="Forms">

      <forms loginUrl="Login.aspx" name="sqlAuthCookie" timeout="60" path="/">

      </forms>

    </authentication>

    <authorization>
      <deny users="?" />
      <allow users="*" />
  
    </authorization>

  </system.web>

  <connectionStrings>
    
    <add name="SchoolDB" connectionString="Data Source=.;Initial Catalog=School;Persist Security Info=False;User ID=sa;Password=fiap;" providerName="System.Data.SqlClient" />
    <add name="DES" connectionString="Data Source=.;Initial Catalog=School;Persist Security Info=False;User ID=sa;Password=fiap;" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>